@import url('https://fonts.google.com/specimen/Barlow+Semi+Condensed/400/600/700');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --violet:hsl(263, 55%, 52%);
    --dark-grayish-blue:hsl(217, 19%, 35%);
    --dark-blackish-blue: hsl(219, 29%, 14%);
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --white:hsl(0, 0%, 100%);
}
body{
    font-family:'Barlow Semi Condensed',sans-serif ;
    font-size: 12px;
    background-color: var(--light-grayish-blue);
}
.container{
    row-gap: 20px;
    column-gap: 20px;
    width: 80%;
    display: grid;
    margin: 10rem auto 8rem;
    grid-template-columns: repeat(4,1fr);
}
.box-info{
    border-radius: 20px;
    padding: 30px 20px;
}
.box-info img{
    border-radius: 50%;
    width: 34px;
}
.box-info h1{
    margin: 10px auto;
    line-height: 1.2;
}
.box-info .lead{
    line-height: 2;
}
.box-info .lead,.box-info span{
    color: var(--light-gray);
}
#item_card1{
    color: #fff;
    background-color: var(--violet);
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: 86% 0%;
    grid-column: 1 / span 2;
}
#item_card2{
    color: #fff;
    background: var(--dark-grayish-blue);
    grid-column: 3 / span 1;
}
#item_card3{
    grid-row: 2;
    grid-column: 1 / span 1;
    background: var(--white);
    box-shadow: -1px 2px 30px rgba(0, 0, 0, 0.356);
}
#item_card4{
    color: #fff;
    background-color:var(--dark-blackish-blue);
    grid-row: 2;
    grid-column: 2 / span 2; 
}
#item_card5{
    grid-row: 1 / span 2;
    background: var(--white);
    box-shadow: -1px 2px 30px rgba(0, 0, 0, 0.356);
}
#item_card3 .lead,#item_card3 span,#item_card5 .lead,#item_card5 span{
    color: var(--dark-blackish-blue);
}
#item_card1 img{
    border: 2px solid #A775F1;
}
#item_card4 img{
    border: 2px solid var(--violet);
}
.author{
    display: flex;
    gap: 8px;
}

@media screen and (max-width:1320px){
    #item_card1{
        grid-column: 1 / span 3;
    }
    #item_card2{
        grid-column: 4 / span 2;
    }
    #item_card3{
        grid-column: 1 / span 2;
    }
    #item_card4{
        grid-column: 3 / span 3;
    }
    #item_card5{
        grid-row: 3 ;
        grid-column: 1/ span 3;
    }
}
footer{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    color: var(--violet);
    text-decoration: underline var(--violet);
    transition: color 500ms ease-in-out;
}
footer a:hover{
    cursor: pointer;
    color: var(--dark-blackish-blue);
}

@media screen and (max-width:1112px){
    
    .container{
        grid-template-columns: 1fr;
        grid-template-columns: 1fr;
        margin: 4.375rem auto;
        column-gap: 0;
        width: 80%;
    }
    #item_card1 {
        grid-column: 1 / 5;
        grid-row: 1/span 2;
    }
    #item_card2, #item_card4 {
        grid-column: 1 / 5;
    }
    #item_card4{
        grid-row: 5;
    }
    #item_card3 {
        grid-column: 1 / 5;
        grid-row: 6 / span 2;
    }
    #item_card5 {
        grid-row: 4;
    }
}